#heading{
    color: #c11500;
}

/*----------------------------------------------submit button----*/

.button-style{
    text-align: center;
}
/*---------------------------------------------- homepage cards----*/
.card-container{
    text-align: center;
}

.cards{
    text-align: center;
    }

.card {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
}

.website_info{
    border: black solid 1px;
    margin: 10rem;
    text-align: center;
}
