@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

#heading{
    color: #c11500;
}

/*----------------------------------------------submit button----*/

.button-style{
    text-align: center;
}
/*---------------------------------------------- homepage cards----*/
.card-container{
    text-align: center;
}

 .card { 
    margin-top: 0rem;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;}
    
/*---------------------------------------------- homepage info and image----*/

.website_info{
    padding-top: 2rem;
    font-family: 'Fjalla One', sans-serif;
    color: black;
    height:20rem;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.website_background{
    background-image: url("../images/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25rem;   
}
    
.website{
    margin-bottom: 0rem;
}


/*---------------------------------------------- companies list----*/
.collection-list{
    width: 30rem;
   }


