#heading{
    color: #c11500;
}

/*----------------------------------------------submit button----*/

.button-style{
    text-align: center;
}
/*---------------------------------------------- homepage cards----*/
.card-container{
    text-align: center;
}

.cards{
    text-align: center;
    }

.card {
    width: 75%;
    display: inline-block;
    
}

.website_info{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: white;
    height:20rem;
    margin: auto;
    font-size: 1.5rem;
    background-color: 	#28b0c6;

    
}

.website_background{
    background-image: url("../images/back5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    
 
}

.nav-wrapper{
    background-color:	#c63e28;
}