{% extends "base.html" %} {% block content %} {% for company in list_company %}


<div class="row container valign-wrapper">
<ul class="collection collection-list col 9">
	<li class="collection-item">
		<h5 class="title">Company Name: {{ company.company_name }}</h5>
        <p>Type of Company: {{ company.company_type }}</p>
        <p>Description: {{ company.description }}</p>
        <p>Sector: {{ company.sector }}</p>
		<p>Remote Positions: {{ company.remote }}</p>
		<p>Level of Positions: {{ company.level_of_positions }}</p>
		<a href="{{ company.url }}">Website</a>
	</li>
</ul>
<div class="col 3 delete_edit_buttons">
<a href = "{{url_for('edit_company', company_id=company._id) }}" class="waves-effect waves-light btn-small buttons">Edit</a>
<a href = "{{url_for('delete_company', company_id=company._id) }}" class="waves-effect waves-light btn-small buttons">Delete</a>
</div>
</div>





{% endfor %}

{% endblock %}