{% extends "base.html" %} {% block content %} {% for company in list_company %}
<!--list of all companies within the database, paginated-->
<div class="row card-container">
  <div class="col s12 m4 cards">
    <div class="card small grey lighten-5">
      <div class="card-content">
        <h5 class="company-name">{{ company.company_name }}</h5>
        <p><b>Type of Company:</b>  {{ company.company_type }}</p>
        <p><b>Description:</b>  {{ company.description }}</p>
        <p><b>Sector:</b> {{ company.sector }}</p>
        <p><b>Remote Positions:</b>  {{ company.remote }}</p>
        <p><b>Level of Positions:</b>  {{ company.level_of_positions }}</p>
      </div>
      <div class="card-action center-align">
        <a href="{{ company.url }}" class="red-text text-accent-4">Website</a>
      </div>
    </div>
<!--delete and edit buttons for logged in users-->
    <div class="row edit-delete-buttons">
      <a
        href="{{url_for('edit_company', company_id=company._id) }}"
        class="waves-effect btn-small buttons"
        >Edit</a
      >

      <a
        class="waves-effect btn-small buttons modal-trigger"
        id="delete"
        data-target="modal1"
        >Delete</a
      >
      <div id="modal1" class="modal delete-confirm">
        <div class="modal-content">
          <h5>Delete company?</h5>
        </div>
        <div class="modal-fixed-footer">
          <a
            href="{{url_for('delete_company', company_id=company._id) }}"
            class="modal-close btn-flat"
            >Yes</a
          >
          <a href="#!" class="modal-close btn-flat">No</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 
</div>
<!--pagination allowing 6 companies per page-->
<div class=" row pagination-container">
    <div class="col 12 offset-s2 offset-m5">
{{ pagination.links }}
 </div>
</div>
{% endblock %} 


