<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    {% block styles %} {% endblock %}
    <title>CodeScan</title>
  </head>

  <body>
    <header>
      <!-- main nav bar -->
      <div class="navbar-fixed">
        <nav class="red darken-3">
          <div class="nav-wrapper">
            <a href="{{ url_for('show_company') }}" class="brand-logo logo">CodeScan</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
              {% if session.logged_in %}
              <li><a href="{{ url_for('show_company') }}">Home</a></li>
              <li><a href="{{ url_for('list_company') }}">Company List</a></li>
              <li><a href="{{ url_for('search_company') }}">Search</a></li>
              <li><a href="{{ url_for('add_company') }}">Add Company</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% else %}
              <li><a href="{{ url_for('show_company') }}">Home</a></li>
              <li><a href="{{ url_for('list_company') }}">Company List</a></li>
              <li><a href="{{ url_for('search_company') }}">Search</a></li>
              <li><a href="{{ url_for('add_company') }}">Add Company</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
      <!--side nav bar for mobile view -->
      <ul class="sidenav" id="mobile-demo">
        {% if session.logged_in %}
        <li><a href="{{ url_for('show_company') }}">Home</a></li>
        <li><a href="{{ url_for('list_company') }}">Company List</a></li>
        <li><a href="{{ url_for('search_company') }}">Search</a></li>
        <li><a href="{{ url_for('add_company') }}">Add Company</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('show_company') }}">Home</a></li>
        <li><a href="{{ url_for('list_company') }}">Company List</a></li>
        <li><a href="{{ url_for('search_company') }}">Search</a></li>
        <li><a href="{{ url_for('add_company') }}">Add Company</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </header>
    <section>
      <!--flash messages -->
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <div class="row">
        <h5 class="center-align flash-message">{{ message }}</h5>
      </div>
      {% endfor %} {% endif %} {% endwith %}
    </section>
    <main class="container">
      {% block content %} {% endblock %}
    </main>
    <!--footer-->
    <footer class="page-footer red darken-3">
      <div class="container">
        <div class="row footer-container">
          <div class="col l6 s12">
            <p class="grey-text text-lighten-4">
              This website has been designed to provide a repository for web
              developers/software engineers to share and view companies that
              offer suitable roles, especially junior roles. Please contact via
              social media for any feedback or comments!
            </p>
          </div>
          <div class="col l4 offset-l2 s12 center-align">
            <h6 class="white-text center-align">Social Media Links</h6>
            <ul class="list-inline">
              <li class="list-inline-item social-links">
                <a href="https://twitter.com/alimc35?s=03" target="_blank">
                  <i class="fab fa-twitter white-text" aria-hidden="true"></i>
                  <span class="sr-only">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item social-links">
                <a
                  href="https://www.linkedin.com/in/alisonmccallum/"
                  target="_blank">
                  <i class="fab fa-linkedin white-text" aria-hidden="true"></i>
                  <span class="sr-only">LinkedIn</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 For Educational Purposes
        </div>
      </div>
    </footer>
    <!--scripts-->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
      integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
