{% extends "base.html" %} {% block content %}

<div class="background_info section container">
  <div class="row info">
    <div class="website_background"></div>
  </div>
  <div class="row website">
    <div class="website_info">
      <h4 class="home-title">A dynamic collection of current software engineering companies which regularly offer coding opportunities!</h4>
      <h5>Browse to find roles suitable for yourself or others.</h5>
      <h5>Register to add, edit and delete companies to the collection.</h5>
    </div>
  </div>
</div>

<h5 class="center-align card-heading"><i class="fas fa-arrow-down"></i>  Recently added companies  <i class="fas fa-arrow-down"></i></h5>

{% for company in show_company %}
<div class="row card-container">
  <div class="col s12 m4 cards">
    <div class="card small grey lighten-5">
      <div class="card-content">
        <h5 class="company-name">{{ company.company_name }}</h5>
        <p><b>Type of Company:</b>   {{ company.company_type }}</p>
        <p><b>Description:</b> {{ company.description }}</p>
        <p><b>Sector:</b>  {{ company.sector }}</p>
        <p><b>Remote Positions:</b> {{ company.remote }}</p>
        <p><b>Level of Positions:</b> {{ company.level_of_positions }}</p>
      </div>
      <div class="card-action center-align">
                 <a href="{{ company.url }}" class="red-text text-accent-4">Website</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
