{% extends "base.html" %} {% block content %}
<div class="row info">
  <div class="col m4 website_background"></div>
  <div class="col m4 website_info">
    <h4>    A dynamic collection of current software engineering companies.</h4>
    <h5>    Browse to find roles suitable for yourself or others.</h5>
    <h5>    Register to add, edit and delete companies to the collection.</h5>
  </div>
  <div class="col m4 website_background"></div>
</div>

{% for company in show_company %}

<div class="row card-container">
  <div class="col s3 cards">
    <div class="card">
      <div class="card-content">
        <h4>{{ company.company_name }}</h4>
        <p>{{ company.sector }}</p>
        <p>Remote Positions: {{ company.remote }}</p>
        <p>Level of Positions: {{ company.level_of_positions }}</p>
      </div>
      <div class="card-action center-align">
        <a href="{{ company.url }}">Website</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
