{% extends "base.html" %} {% block content %}
<!--form for logged in users to edit existing companies-->
<h2 class="center-align" id="heading">Edit Company</h2>
<div class="row">
  <form
    class="col s6 form-style offset-s3"
    method="POST"
    action="{{url_for('edit_company', company_id=company._id) }}">
    <!--company type input from dropdown options-->
    <div class="row">
      <div class="input-field col s12">
        <select id="company_type" name="company_type" class="validate" required>
          <option value="" disabled>Change company type</option>
          {% for company in company_type %} {% if company.company_type ==
          company.company_type %}
          <option value="{{ company.company_type }}" selected>{{ company.company_type }}</option>
          {% else %}
          <option value="{{ company.company_type }}">{{ company.company_type }}</option>
          {% endif %} {% endfor %}
        </select>
        <label for="company_type" data-error="wrong" data-success="right">Company Type</label>
      </div>
    </div>
    <!--company name input-->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="company_name"
          name="company_name"
          class="validate"
          value="{{ company.company_name }}"
          type="text"
          required
        />
        <label for="company_name">Company Name</label>
      </div>
    </div>
    <!--company sector input-->
    <div class="row">
      <div class="input-field col s12">
        <textarea
          id="sector"
          name="sector"
          maxlength="45"
          class="materialize-textarea validate"
          required>{{ company.sector }}</textarea>
        <label for="sector" data-error="wrong" data-success="right">Sector</label>
      </div>
    </div>
    <!--company description input-->
    <div class="row">
      <div class="input-field col s12">
        <label for="description" data-error="wrong" data-success="right">Short Description</label>
        <textarea
          id="description"
          name="description"
          maxlength="45"
          class="materialize-textarea validate"
          required>{{ company.description }}</textarea>
      </div>
    </div>
    <!--company website input-->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="url"
          type="url"
          name="url"
          required
          class="validate"
          value="{{ company.url }}"
        />
        <label for="url" data-error="wrong" data-success="right">Website</label>
      </div>
    </div>
    <!-- remote working input from dropdown options -->
    <div class="row">
      <div class="input-field col s12">
        <select id="remote" name="remote">
          <option value="{{ company.remote }}" disabled>Select</option>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
          <option value="Sometimes">Sometimes</option>
        </select>
        <label for="remote" data-error="wrong" data-success="right">Remote Working</label>
      </div>
    </div>
    <!-- level of roles dropdown options-->
    <div class="row">
      <div class="input-field col s12">
        <select id="level_of_positions" name="level_of_positions">
          <option value="{{ company.level_of_positions }}" disabled
            >Select</option>
          <option value="Junior">Junior</option>
          <option value="Mid">Mid</option>
          <option value="Senior">Senior</option>
          <option value="Various">Various</option>
        </select>
        <label for="level_of_positions" data-error="wrong" data-success="right">Level of Roles</label>
      </div>
    </div>
    <div class="button-style">
      <button class="btn waves-effect waves-light buttons" type="submit">Edit Company</button>
    </div>
  </form>
</div>
{% endblock %}
