{% extends "base.html" %} {% block content %}
<!--form for new users to register to site to add/delete and edit entries-->
<h2 class="center-align" id="heading">Registration</h2>

<div class="row">
  <form
    class="col s6 form-style offset-s3"
    method="POST"
    action="{{url_for('registration') }}"
  >
    <!--input name -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="name"
          name="name"
          type="text"
          minlength="8"
          maxlength="20"
          pattern="^[a-zA-Z0-9]{8,20}$"
          class="validate"
          required
        />
        <label for="name">Username</label>
      </div>
    </div>
    
    <!--password name -->
    <div class="row">
      <div class="input-field col s12">
        <input
          id="password"
          name="password"
          type="password"
          minlength="8"
          maxlength="15"
          pattern="^[a-zA-Z0-9]{8,15}$"
          class="validate"
          required
        />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="button-style">
      <button class="btn waves-effect waves-light" type="submit">
        Register
      </button>
    </div>
  </form>
</div>
<div class="row">
    <div class="col s12">
<p class="center-align">Already Registered?
<a href="{{ url_for('login') }}">Login here to add, edit and delete companies to the collection!</a></p>
</div>
</div>
{% endblock %}
