{% extends "base.html" %} {% block content %}

<h2 class="center-align" id="heading">Search Company</h2>
<div class="row">
  <form
    action="{{ url_for('search_company') }}"
    class="col s6 form-style offset-s3"
    method="POST"
  >
    <div class="row">
      <div class="input-field col s12">
        <input
          type="text"
          name="company_query"
          id="company_query"
          class="validate"
        />
        <label for="company_query">Search</label>
      </div>
      <div class="row">
        <div class="col s6">
          <h6 class="filter-heading">Remote Working</h6>
          <label>
            <input type="radio" class="filled-in" name="remote_option" id="remote_yes" value="remote_yes" 
            />
            <span>Yes</span>
          </label>
          <br />
          <label>
            <input type="radio" class="filled-in" name="remote_option" id="remote_no" value="remote_no"
            />
            <span>No</span>
          </label>
          <br />
          <label>
            <input type="radio" class="filled-in" name="remote_option" id="remote_some" value="remote_some"
            />
            <span>Sometimes</span>
          </label>
        </div>
        <div class="col s6">
          <h6 class="filter-heading">Level of Opportunities</h6>
          <label>
            <input type="radio" class="filled-in" name="opps_option" id="junior" value="junior"/>
            <span>Junior</span>
          </label>
          <br />
          <label>
            <input type="radio" class="filled-in" name="opps_option" id="mid" value="mid"/>
            <span>Mid</span>
          </label>
          <br />
          <label>
            <input type="radio" class="filled-in" name="opps_option" id="senior" value="senior"/>
            <span>Senior</span>
          </label>
          <br />
          <label>
            <input type="radio" class="filled-in" name="opps_option" id="various" value="various"/>
            <span>Various</span>
          </label>
        </div>
      </div>

      <div class="button-style">
        <button class="btn waves-effect waves-light" type="submit">
          Search
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
